<section class="courses">
  <div class="container pt-5 pb-5">
    <h2 class="text-center">
      {{ "homepage.courses.suptitle" | translate }}
    </h2>
    <h3 class="text-center">{{ "homepage.courses.subtitle" | translate }}</h3>
    <div class="row">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../../../assets/images/angular.png"
              class="card-img-top w-75 m-auto"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">
                {{ "homepage.courses.title-1" | translate }}
              </h3>
              <p class="card-text">
                {{ "homepage.courses.text-1" | translate }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{
                "homepage.courses.starttime-1" | translate
              }}</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../../../assets/images/javascript.png"
              class="card-img-top w-75 m-auto"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">
                {{ "homepage.courses.title-2" | translate }}
              </h3>
              <p class="card-text">
                {{ "homepage.courses.text-2" | translate }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{
                "homepage.courses.starttime-1" | translate
              }}</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../../../assets/images/nodejs.svg"
              class="card-img-top w-75 m-auto"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">
                {{ "homepage.courses.title-3" | translate }}
              </h3>
              <p class="card-text">
                {{ "homepage.courses.text-3" | translate }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{
                "homepage.courses.starttime-3" | translate
              }}</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="../../../../../assets/images/fullstack.png"
              class="card-img-top w-75 m-auto"
              alt="..."
            />
            <div class="card-body">
              <h3 class="card-title">
                {{ "homepage.courses.title-4" | translate }}
              </h3>
              <p class="card-text">
                {{ "homepage.courses.text-4" | translate }}
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{
                "homepage.courses.starttime-4" | translate
              }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
