<section class="aboutme">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-xs-12 col-md-6">
        <img
          src="../../../../../assets/images/myimage.jpg"
          alt="myimage"
          class="w-50 d-block m-auto"
        />
      </div>
      <div class="col-xs-12 col-md-6 align-items-center">
        <h2>{{ "homepage.aboutme.title" | translate }}</h2>
        <p>
          {{ "homepage.aboutme.text" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
